@import url(./expanded-analytics__range_number/expanded-analytics__range_number.css);
@import url(./expanded-analytics__range_number_first/expanded-analytics__range_number_first.css);

.expanded-analytics__range{
margin-left: 104px;
margin-right: 104px;
margin-top: 16px;
margin-bottom: 8px;
margin-left: 104px;
display: flex;
justify-content: space-between;
<<<<<<< HEAD:src/style/expanded-analytics/expanded-analytics_diagram/expanded-analytics__range/expanded-analytics__range.css
=======
border-top: 1px solid #1A1B22;
>>>>>>> 2355de84b8b40ab8e19848b09c39c0b15ac85b6d:src/style/expanded-analytics/expanded-analytics__range/expanded-analytics__range.css
}

@media all and (min-width: 433px) and (max-width: 1022px) {
  .expanded-analytics__range{
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media all and (max-width: 432px) {
  .expanded-analytics__range{
    display: none;
  }
}
