@import url(./analytics__for-week_count/analytics__for-week_count.css);

.analytics__for-week{
  margin-left: 104px;
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .analytics__for-week{
    margin-left: 0px;
  }
}
