<<<<<<< HEAD:src/style/reviews/history__commits/glide/glide__track/glide__slides/glide__slide/glide__slide_container/glide__slide__autor/glide__slide__autor_about/glide__slide__autor_about_email/glide__slide__autor_about_email.css
.glide__slide__autor_about_email{
=======
.carousel-cell__autor_about_email{
>>>>>>> 2355de84b8b40ab8e19848b09c39c0b15ac85b6d:src/style/reviews/main-carousel/main-carousel__carousel-cell/carousel-cell__autor/carousel-cell__autor_about/carousel-cell__autor_about_email/carousel-cell__autor_about_email.css
  height: 22px;
  margin: 0px;
  font-family: Roboto Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #1A1B22;

}
