.expanded-analytics__range_number_first{
  width: 80px;
  height: 20px;
  margin-left: 104px;
  font-family: Roboto Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
}

@media all and (min-width: 433px) and (max-width: 768px) {
  .expanded-analytics__range_number_first{
    width: 20px;
    margin-left: 117px;
  }
}

@media all and (max-width: 432px) {
  .expanded-analytics__range_number_first{
    display: none;
  }
}
