@import url(./autor__about_title/autor__about_title.css);
@import url(./autor__about_subtitle/autor__about_subtitle.css);

.autor__about{
margin-bottom: 255px;
display: flex;
flex-direction: column;
justify-content: start;
}
@media all  and (min-width:769px) and (max-width:1200px){
  .autor__about{
    margin-bottom: 48px;
  }
}

@media all and (min-width: 422px) and (max-width: 768px) {
  .autor__about{
    margin-left: 16px;
    margin-bottom: 48px;
  }
}

@media all and (max-width: 421px){
  .autor__about{
    width: 288px;
    margin-left: 16px;
    margin-bottom: 0px;
  }
}
