.search-panel__search_search-button{
  width: 168px;
  height: 64px;
  padding-left: 54px;
  padding-right: 53px;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 100px;
  border: 0px;
  position: absolute;
  right: 0px;
  z-index: 2;
  cursor: pointer;
}

.search-panel__search_search-button:hover{
  background: #347EFF;
}
.search-panel__search_search-button:active{
  background: #2A65CC;
}

@media all and (min-width: 471px) and (max-width: 768px) {
  .search-panel__search_search-button{
    width: 160px;
    height: 56px;
  }
}

@media all and (max-width: 470px){
  .search-panel__search_search-button{
    width: 288px;
    height: 56px;
    position: relative;
  }
}
