.search-results__cards_card_text{
margin: 16px 24px 0px 24px;
margin-left: 24px;
margin-right: 24px;
font-family: Roboto Regular;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #1a1b22;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
}

@media all and (max-width: 768px) {
  .search-results__cards_card_text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}
