.search-results__cards_card_title{
margin: 12px 24px 0px 24px;
font-family: Roboto Slab Regular;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;
color: #1A1B22;

}

@media all and (min-width: 320px) and (max-width: 768px) {
  .search-results__cards_card_title{
    font-size: 22px;
    line-height: 24px;
  }
}
