@import url(./search-results__header/search-results__header.css);
@import url(./search-results__cards/search-results__cards.css);
@import url(./search-results__button/search-results__button.css);

.search-results{
display: none;
background-color: #F5F6F7;
margin-top: -120px;
padding-bottom: 80px;
}
