@import url(./search-results__cards_card_img/search-results__cards_card_img.css);
@import url(./search-results__cards_card_date/search-results__cards_card_date.css);
@import url(./search-results__cards_card_title/search-results__cards_card_title.css);
@import url(./search-results__cards_card_text/search-results__cards_card_text.css);
@import url(./search-results__cards_card_source/search-results__cards_card_source.css);
@import url(./search-results__cards-url/search-results__cards-url.css);

.search-results__cards_card{
  max-width: 400px;
  max-height: 576px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  text-decoration: none;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.search-results__cards_card:hover {
  transform: translateY(-5px);
}