.glide__slide__autor_photo{
width: 64px;
height: 64px;
/* border-radius: 1000px; */
background-size: cover;
background-repeat: no-repeat;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .glide__slide__autor_photo{
    width: 48px;
    height: 48px;
  }
}
