@import url(./expanded-analytics_diagram/expanded-analytics_diagram.css);


.expanded-analytics{
  margin: auto;
  padding-top: 80px;
  background: #F5F6F7;
}

@media all and (max-width: 768px) {
  .expanded-analytics{
    padding-top: 40px;
  }
}
@media all and (max-width: 425px) {
  .expanded-analytics {
    padding-top: 24px;
  }
}
