@import url(./analytics__navigation_current-page/analytics__navigation_current-page.css);
@import url(./analytics__navigation_link/analytics__navigation_link.css);

.analytics__navigation{
  margin-left: 104px;
  margin-top: 40px;
  text-decoration: none;
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

@media all and (min-width: 321px) and (max-width: 768px) {
  .analytics__navigation{
    margin-left: 0px;
  }
}

@media all and (max-width: 320px) {
  .analytics__navigation{
    display: none;
  }
}
