@import url(./expanded-analytics__range-footer_first/expanded-analytics__range-footer_first.css);
@import url(./expanded-analytics__range-footer_number/expanded-analytics__range-footer_number.css);

.expanded-analytics__range-footer{
  margin-left: 104px;
  margin-right: 104px;
  display: flex;
}

@media all and (min-width: 433px) and (max-width: 768px) {
  .expanded-analytics__range-footer{
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media all and (max-width: 432px) {
  .expanded-analytics__range-footer{
    display: none;
  }
}
