@import url(./technologies__icons_icon/technologies__icons_icon.css);

.technologies__icons{
  width: 479px;
  margin-right: 216px;
  display: flex;
  justify-content: space-between;

}

@media all and (min-width: 768px) and (max-width: 1026px) {
  .technologies__icons{
    margin-left: 104px;
    width: 570px;
    padding-bottom: 49px;
  }
}
@media all and (min-width: 421px) and (max-width: 767px){
  .technologies__icons{
  flex-wrap: wrap;
  width: 288px;
  margin-left: 40px;
  padding-bottom: 40px;
  }
}

@media all and (max-width: 420px){
  .technologies__icons{
  flex-wrap: wrap;
  width: 288px;
  margin-left: 16px;
  padding-bottom: 40px;
  }
}
