@import url(./technologies__icons_icon/technologies__icons_icon.css);

.technologies__icons{
  width: 479px;
  margin-right: 216px;
  display: flex;
  justify-content: space-between;

}

@media all and (min-width: 601px) and (max-width: 768px) {
  .technologies__icons{
    width: 656px;
    margin-left: 56px;
    padding-bottom: 49px;
  }
}

@media all and (max-width: 600px){
  .technologies__icons{
  flex-wrap: wrap;
  width: 288px;
  margin-left: 16px;
  padding-bottom: 40px;
  }
}
