.search-results__cards_card_img{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .search-results__cards_card_img{
    width: 224px;
    height: 150px;
  }
}
