.author__photo{
  width: 464px;
  height: 464px;
  margin: 40px 56px 80px 104px;
  border-radius: 1000px;
}

@media all and (min-width: 769px) and (max-width: 1200px) {
  .author__photo{
    width: 272px;
    height: 272px;
    margin: 61px 40px 61px 32px;
  }
}

@media all and (min-width: 321px) and (max-width: 768px) {
  .author__photo{
    width: 232px;
    height: 232px;
    margin: 61px 40px 61px 32px;
  }
}

@media all and (max-width: 320px) {
  .author__photo{
    width: 272px;
    height: 272px;
    margin: 32px 24px 24px 24px;
  }
}
