@import url(./glide__slide__autor_about_email/glide__slide__autor_about_email.css);
@import url(./glide__slide__autor_about_name/glide__slide__autor_about_name.css);


.glide__slide__autor_about{
margin-left: 16px;
/* display: flex;
flex-direction: column;
justify-content: center; */
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .glide__slide__autor_about
  {
    margin-left: 12px;
  }
}
