@import url(./search-results__header_title/search-results__header_title.css);
@import url(./search-results__header_subtitle/search-results__header_subtitle.css);

.search-results__header{
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 80px;
margin-left: 104px;
margin-right: 104px;
}

@media all and (min-width: 425px)  and (max-width: 768px){
  .search-results__header{
    margin-left: 40px;
    margin-right: 40px;
  }
}



@media all and (max-width: 425px){
  .search-results__header{
    display: block;
    margin-left: 16px;
    margin-right: 16px;
  }
}
