@import url(./technologies__icons_icon_icon/technologies__icons_icon_img.css);
@import url(./technologies__icons_icon_title/technologies__icons_icon_title.css);

.technologies__icons_icon{
margin-right: 41px;
display: flex;
flex-direction: column;
align-items: center;
}

@media all and (min-width: 945px) and (max-width: 962px) {
    .technologies__icons_icon{
        margin-right: 15px;
        display: flex;
    }
  }
  @media all and (min-width: 725px) and (max-width: 962px) {
    .technologies__icons_icon{
        margin-right: 7px;
        display: flex;
    }
  }


  @media all and (min-width: 400px) and (max-width: 724px) {
    .technologies__icons_icon{
        margin-right: 7px;
        display: flex;
    }
  }