@import url(./reviews__header_title/reviews__header_title.css);
@import url(./reviews__header_links/reviews__header_links.css);

.reviews__header{
margin-left: 104px;
margin-right: 111px;
padding-top: 72px;
<<<<<<< HEAD
margin-bottom: 64px;
=======
margin-bottom: 40px;
>>>>>>> 2355de84b8b40ab8e19848b09c39c0b15ac85b6d
display: flex;
justify-content: space-between;
align-items: center;
}

@media all and (min-width: 421px) and (max-width: 768px) {
  .reviews__header{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media all and (max-width: 420px){
  .reviews__header{
    margin: 0px 16px  16px 16px;
    padding-top: 32px;
    margin-top: 16px;
  }
}
