@import url(./reviews__header_title/reviews__header_title.css);
@import url(./reviews__header_links/reviews__header_links.css);

.reviews__header{
margin-left: 104px;
margin-right: 111px;
padding-top: 72px;
margin-bottom: 64px;
display: flex;
justify-content: space-between;
align-items: center;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .reviews__header{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media all and (max-width: 320px){
  .reviews__header{
    margin: 0px 16px  16px 16px;
    padding-top: 32px;
    margin-top: 16px;
  }
}
