.search-results__button{
  display: block;
  width: 288px;
  height: 64px;
  background-color: #fff;
margin: auto;
  font-family: Roboto Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  border-radius: 80px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.search-results__button:hover{
  background: #FFFFFF;
  opacity: 0.9;
}
