@import url(./carousel-cell__date/carousel-cell__date.css);
@import url(./carousel-cell__autor/carousel-cell__autor.css);
@import url(./carousel-cell__comment/carousel-cell__comment.css);


.main-carousel__carousel-cell{
  width: 400px;
  height: 288px;
  margin-left: 16px;
  top: 1922px;
  background: #FFFFFF;
  border-radius: 16px;
}

@media all and (min-width: 421px) and (max-width: 768px) {
  .main-carousel__carousel-cell{
    width: 336px;
    height: 242px;
  }
}

@media all and (max-width: 420px){
  .main-carousel__carousel-cell{
  width: 275px;
  height: 264px;
  margin-left: 16px;
  margin-right: 16px;
  }
}
