@import url(./preloader-result__img/preloader-result__img.css);
@import url(./preloader-result__title/preloader-result__title.css);
@import url(./preloader-result__subtitle/preloader-result__subtitle.css);

.preloader-result{
  height: 374px;
  margin-top: -120px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F6F7;
}
