@import url(./technologies__title/technologies__title.css);
@import url(./technologies__icons/technologies__icons.css);

.technologies{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #F5F6F7;;
 }

 @media all and (min-width: 320px) and (max-width: 768px) {
  .technologies{
    display: block;
  }
}
