@import url(./expanded-analytics__chart_weekday_day/expanded-analytics__chart_weekday_day.css);

.expanded-analytics__chart_weekday{
width: 104px;
margin-left: 104px;
display: flex;
flex-direction: column;
}

@media all and (min-width: 433px) and (max-width: 1022px) {
  .expanded-analytics__chart_weekday{
    margin-left: 40px;
  }
}

@media all and (max-width: 432px) {
  .expanded-analytics__chart_weekday{
    width: 64px;
    margin-left: 16px;
    margin-top: 18px;
  }
}
