@import url(./reviews__header_arrow/reviews__header_arrow.css);
@import url(./reviews__header_subtitle/reviews__header_subtitle.css);


.reviews__header_links{
  display: flex;
  justify-content: center;
  align-items: center;
}



@media all and (max-width: 320px){
  .reviews__header_links{
    width: 288px;
    height: 56px;
    position: absolute;
    top: 434px;
    left: 16px;
    right: 16px;
    border: 1px solid #1A1B22;
    border-radius: 80px;
  }
}
