.autor__about_subtitle{
  width: 600px;
  margin-top: 24px;
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

@media all and (min-width: 769px) and (max-width: 1200px) {
  .autor__about_subtitle{
    width: 424px;
    margin-top: 16px;
  }
}

@media all and (min-width: 421px) and (max-width: 768px) {
  .autor__about_subtitle{
    width: 424px;
    margin-top: 16px;
  }
}

@media all and (max-width: 420px){
  .autor__about_subtitle{
    width: 288px;
    margin-top: 16px;
  }
}
