@import url(./search-results__cards_card/search-results__cards_card.css);


.search-results__cards{
margin-left: 104px;
margin-right: 104px;
margin-top: 64px;
display: grid;
justify-content: center;
grid-template-columns: repeat(auto-fill, 400px);
grid-gap: 16px 16px;
padding-bottom: 84px;
}

@media all and (min-width: 426px) and (max-width: 768px) {
  .search-results__cardst {
    margin-left: 40px;
margin-right: 40px;
    grid-template-columns: repeat(auto-fill, 224px);
    grid-gap: 6px 6px;
    padding-bottom: 37px;
  }
}

@media all and (max-width: 425px) {
  .search-results__cards {
    margin-left: 16px;
    margin-right: 16px;
    grid-template-columns: repeat(auto-fill, 288px);
  }
}
