@import url(./search-results__cards_card/search-results__cards_card.css);

.search-results__cards{
margin-left: 104px;
margin-right: 104px;
display: flex;
flex-wrap: wrap;
justify-content: start;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .search-results__cards{
    margin-left: 40px;
    margin-right: 40px;
  }
}
