@import url(./search-panel__search_search-button/search-panel__search_search-button.css);
@import url(./search-panel__search_search-input/search-panel__search_search-input.css);
@import url(./search-panel__search_container/search-panel__search_container.css);


.search-panel__search{
  width: 608px;
  height: 64px;
  margin-top: 64px;
  margin-bottom: 80px;
  display: flex;
  position: relative;
  z-index: 2;
  backdrop-filter: blur(8px);
}

@media all and (min-width: 471px) and (max-width: 768px) {
  .search-panel__search{
    width: 448px;
    height: 56px;
    margin-top: 24px;
    margin-bottom: 48px;
    backdrop-filter: blur(100px);
  }
}

@media all and (max-width: 470px){
  .search-panel__search{
    width: 288px;
    height: 128px;
    backdrop-filter: blur(100px);
    flex-wrap: wrap;
    margin-top: 64px;
    margin-bottom: 32px;

  }
}
